/* :default styles */


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
button{
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: red;
}
button:hover{
    background-color: rgb(212, 22, 22);
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: xx-large;
    font-weight: 100;
}
h2{
    font-size: large;
    font-weight: 100;

}



/* section one here  */

#one{
    background-image: url(images/back.png);
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
}

#one h1{
    color: white;
    padding-left: 300px;
    padding-top: 20vh;
    font-size: 80px;
}
#one p{
    padding-left: 300px;
    padding-top: 20px;
    width: 700px;
    color: white;
    font-weight: 100;
}

.logo img{
    width: 60px;
    border-radius: 10px;
}

/* navigation here  */


nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: red;
    color: white;
}
#nav_links a{
    padding: 10px;
    margin-top: 40px;
    color: white;
    text-decoration: none;
}
#nav_links a:hover{
    background-color: rgb(212, 22, 22);
    border-radius: 10px;
}


/* section two  */


#two{
    width: 90vw;
    margin: auto;
    padding: 5vh 0;
}

#head{
    display: flex;
    justify-content: space-between;
}
#heading_movies h1{
    font-size: xx-large;
    font-weight: 100;
}
.cards{
    padding-top: 50px;
}
.card{
    margin: 20px;
    padding-top: 20px;
}
.card img{
    width: 27vw;
    height: 50vh;
    border-radius: 20px;
}
.row1 , .row2,.row3,.row4,.row5{
    display: flex;
}



/* footer strats here 
 */


 footer{
    background-color: red;
    color: white;
    display: flex;
    height: 45vh;
 }
.about{
    padding: 40px;
}
.about p{
    padding-top: 10px;
}



/* form of footer  */
.form{
    padding: 40px;
    width: 40vw;
}
.form .row1{
    display: flex; 
    justify-content: space-between;
    padding: 30px 0;
}
.form .row2{
    padding: 30px 0;
}
#email{
    width: 34vw;
}
.form .row3{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
input{
    background-color: red;
    border: none;
    border-bottom: 1px solid rgb(212, 22, 22);
}